In [6]:
import numpy as np
import pandas as pd

### Read file
#### df -> data frame

In [25]:
df=pd.read_csv('./iris.csv')

In [26]:
df.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

### no. of rows and cols

In [27]:
df.shape

(150, 5)

### Columns names

In [28]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

#### show first 5 and last 10

In [29]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [30]:
df.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

### show first column with 5 rows

In [31]:
df.iloc[range(5),0]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal.length, dtype: float64

In [32]:
df.loc[range(5),'sepal.length']

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal.length, dtype: float64

#### Count of sepal.width

In [33]:
df['sepal.width'].value_counts() ## frequency of each elemnt

3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.6     4
3.7     3
2.4     3
2.2     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: sepal.width, dtype: int64

In [20]:
len(df['sepal.width'])

150

### rename column

In [22]:
df.rename({'sepal.width': 'length'}, axis='columns',inplace=True)

In [23]:
df.head()

   sepal.length  length  petal.length  petal.width variety
0           5.1     3.5           1.4          0.2  Setosa
1           4.9     3.0           1.4          0.2  Setosa
2           4.7     3.2           1.3          0.2  Setosa
3           4.6     3.1           1.5          0.2  Setosa
4           5.0     3.6           1.4          0.2  Setosa